*{
    margin: 0%;
    padding: 0%;
}
nav{
    display: flex;
    height: 10vh;
    background-color: blueviolet;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
    align-items: center;
}
.nav-element ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.nav-element{
    width: 40%;
}