+*{
    margin: 0%;
    padding: 0%;
}
#navbar{
    display: flex;
    align-items: center;
    background-color: rgb(245, 253, 245);
}
#logo{
    margin: 20px 34px;

}
#logo img{
    height: 60px;
    margin: -25px 0px;
}
#navbar ul{
    display: flex;
}
#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
   color: rgb(10, 231, 247);
   display: block;
   padding: 3px 22px;
   border-radius: 20px;
   text-decoration: none;
}
#navbar ul li a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(107, 175, 252);
}