*{
    margin: 11px;
    padding: 0px;
    background-color: black;
  }
  #navbar{
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: white;
      height: 65px;
        }
      #logo{
       margin:10px 50px;
       }
      #logo img{
      height: 60px;
      margin: -21px 0px;
      }
      #navbar div{
          color: black;
          background-color: white;
          font-size: 2.1rem;
      }
       #navbar ul{
        display: flex;
       }
      #navbar ul li{
        list-style: none;
        font-size: 1.5rem;
       }
      #navbar ul li a{
        color: white;
      display: inline-block;
      padding: 3px 22px;
      border-radius: 20px;
      text-decoration: none;
      }
       #navbar ul li a:hover{
        color:black;
        background-color: rgb(84, 230, 84);
      }